

.header {
    padding-top: 1rem;
    background-image: url(/images/desktop/image-header.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.header_box {
    position: relative;
}

.header_svg {
    fill: var(--white);
    width: 6rem;
    height: 2rem;
}

.nav_list {
    display: none
}

.header_btn {
    display: none;
}

.header_title {
    position: absolute;
    color: var(--white);
    max-width: 16rem;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    margin: 0 auto;
    top: 5rem;
    left: 8rem;
    transform: translate(0,-10%);
}

/* **-----HEADER-----** */

/* **-----BRAND-----** */

.brand {
    padding-bottom: 4rem;
}

.brand_box {
    display: flex;
    flex-direction: column-reverse;
}

.brand_block {
    padding: 2rem;
}

.brand_title {
    text-align: center;
    font-size: 3rem;
    color: var(--black);
    margin-bottom: 2rem;
}

.brand_text {
    font-size: 1.3rem;
    text-align: center;
    color: var(--grey);
    margin-bottom: 2rem;
}

.block {
    display: flex;
    justify-content: center;
}

.brand_link_yellow {
    color: var(--black);
    font-weight: 900;
}

.brand_link_red{
    color: var(--black);
    font-weight: 900;
}

.brand_link_yellow:is(:hover, :focus){
    border-bottom: 0.5rem solid var(--yellow);
    border-radius: 1rem;
}

.brand_link_red:is(:hover, :focus){
    border-bottom: 0.5rem solid var(--red);
    border-radius: 1rem;
} 


.brand_item {
    position: relative;
}

.brand_subtitle {
    top: 14rem;
    left: 9rem;
    position: absolute;
    font-size: 2rem;
    color: var(--black);
    text-align: center;
    margin-bottom: 2rem;
}

.brand_small_text {
    top: 17rem;
    color: var(--black);
    position: absolute;
    font-size: 1.2rem;
    text-align: center;
}

/* **-----BRAND-----** */


/* !!-----CLIENTS----!! */

.clients {
    padding-bottom: 4rem;
}

.clients_title {
    margin-top: 4rem;
    font-size: 1.9rem;
    color: var(--grey);
    text-align: center;
    margin-bottom: 5rem;
}

.clients_list {
    display: flex;
    gap: 1.9rem;
    flex-direction: column;
}

.clients_item {
    width: calc((100% -1.9rem * 3)/3);
}

.clients_img {
    width: 6rem;
    height: 6rem;
    border-radius: 50rem;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.clients_text {
    max-width: 25rem;
    line-height: 2rem;
    font-size: 1.2rem;
    text-align: center;
    color: var(--black);
    margin: 0 auto;
    margin-bottom: 3rem;
}

.clients_box {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.clients_subtitle {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: var(--black);
}

.clients_span {
    font-size: 1rem;
    color: var(--grey);
}

/* !!-----CLIENTS----!! */


/* ??-----PICTURES----?? */


.pictures_list {
    display: flex;
    flex-wrap: wrap;
}
.pictures_img {      
    max-width:  15rem;
    height: 15rem;
} 

/* ??-----PICTURES----?? */



/* *----FOOTER----* */


.footer {
    background-color: var(--rose);
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.footer_box {
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-bottom: 7rem;
}

.footer_logo {
    margin-bottom: 4rem;
}
.footer_link {
    padding: 1rem;
}

.footer_svg {
    fill: var(--green);
}

.footer_nav_list {
    display: flex;
    gap: 2rem;
}

.footer_nav_link {
    color: var(--green-2);
    padding: 1rem;
}

.footer_nav_link:is(:hover, :focus){
    color: var(--white);
}

.social_list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.social_link{
    padding: 1rem;
}

.social_svg {
    fill: var(--color);
}

.social_svg:is(:hover, :focus){
    fill: var(--white);
}

/* *----FOOTER----* */









/* **--------HEADER---------** */

 @media screen and (min-width: 1024px) {


    .header {
        padding-top: 5rem;
    }
    
    .header_box {
        display: flex;
        position: relative;
    }
    
    .header_link {
        flex-grow: 1;
    }
    
    .header_svg {
    width: 15rem;
    }
    
    .nav {
        display: flex;
        align-items: center;
    }
    
    .nav_list {
        display: flex;
        gap: 2rem;
    }
    
    
    .nav_link {
        padding: 1rem;
        color: var(--white);
        font-size: 1.2rem;
    }
    
    .header_btn {
        display: block;
        font-size: 1rem;
        border-radius: 30rem;
        color: var(--white);
        margin-left: 3rem;
        padding: 1.1rem;
        border: 0.5rem solid var(--white);
    }
    
    
    .header_title {
        max-width: 60rem;
        top: 30rem;
        right: -0rem;
        transform: translate(0,-50%);
        position: absolute;
        font-size: 5rem;
    }
    
    
    /* **--------HEADER---------** */



    /* **-----BRAND-----** */
    
    
    .brand {
        padding-bottom: 10rem;
    }

    .brand_list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .brand_box {
        margin: 0 auto;
        flex-direction: row;
    }

    .brand_block {
        width: 40rem;
        padding: 7rem;
    }

    .brand_stand {
        display: flex;
    }

    .brand_stand_right {
        display: flex;
        flex-direction: row-reverse;
    }

    .block {
        justify-content: start;
    }

    .brand_title {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .brand_text {
        margin-bottom: 3rem;
        font-size: 1rem;
    }

    /* .brand_link:first-child{    
        border-bottom: 0.4rem solid yellow;
        border-radius: 1rem;
        color: black;
        
    }
    .brand_link:nth-child(3){
        border-bottom: 0.4rem solid red;
        border-radius: 1rem;
    
    }  */
    
    .brand_subtitle {
        width: 12rem;
        font-size: 1.5rem;
        top: 20rem;
        left: 14rem;
    }
    
    .brand_small_text { 
        width: 24rem;
        font-size: 1rem;
        top: 25rem;
        left: 8rem;
    }
    
    /* **-----BRAND-----** */


    
    /* !!--------CLIENTS-------!!! */
    
    .clients {
        padding-bottom: 5rem;
    }

    .clients_title {
        font-size: 2rem;
        margin-bottom: 7rem;
    }

    .clients_list {
        flex-direction: row;
        justify-content: center;
    }

    .clients_img {
        width: 4rem;
        height: 4rem;
    }

    .clients_text {
        font-size: 1rem;
    }
    
        /* !!--------CLIENTS-------!!! */



    /* !!--------PICTURES-------!!! */

    .pictures {
        padding-top: 5rem;
    }

    .pictures_list {
    flex-direction: row;
    justify-content: center;
    }

    .pictures_img {      
        max-width:  100%;
        height: auto;
    } 
    /* !!--------PICTURES-------!!! */

} 

