:root {
    --white : #ffffff;
    --yellow : #e3f23d;
    --red : #e90f0f;
    --black: #090b0b;
    --grey: #bcbebe;
    --rose: #1af5d0;
    --green:#108b62;
    --green-2: rgb(115, 207, 115);
    --color:#1cd396;
    

    --title-font: "Young Serif", serif;
    --main-font:  "Outfit", sans-serif;

font-size: 62.5%;
}